body{
	height: 100%;
}
.top_bar {
	background-color: white;
	color: 	#007BAD;
	width: 90%;
	height: 25px;
	margin: 0px auto 0px auto;
	text-align:center;
}

h1{
	margin:0px;
	font-size: 22px;
}

.menu_bar{
	background-color:#ce0000;
	color: gray;
	width: 90%;
	height: 30px;
	margin: 5px auto 0px auto;
	padding:5px;
}

ul.horizontal{
	margin:0px 10px;
	padding:0;
}

ul.horizontal li{
	color: #e1d800;
	display:block;
	float:right;
	padding:4px 10px;
	font-size: 16px;
	cursor: pointer;
}

ul.horizontal li.active{
	color: white;
	font-weight: bold;
}


ul.horizontal li.hide{
	display:none;
}

.hide{
	display:none;
}

.name{
	font-size:14px;
	color:#e1d800;
}

.maindiv{
	background-color:white;
	color: gray;
	width: 88.5%;
	height: 85%;
	margin: 0px auto;
	position: absolute; 
   	top: 80px; 
	left:5.7%;
	overflow: hidden;
}

.subdiv{
	background-color: white;
	color: gray;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute; 
	overflow-x: auto;
	top:0;
}

table {
  	width: 80%;
	margin: 10px auto;
}

td {
  	margin: 5px;
	text-align: right;
	width:50%;
	color:black;
}

th {
  	padding: 15px 25px;
	text-align: center;
	color: #007BAD;
	font-size: 18px;
}

input[type=text],input[type=password]{
	float: left;
	width:200px;
	padding: 10px;
	margin:5px;
}

textarea {
  	resize: none;
	float: left;
	width:200px;
	height:40px;
	padding: 10px;
	margin:5px;
}

p{
	float: left;
	padding: 0px;
	margin:5px;
}

input[type=button]{
	float: left;
	width:150px;
	margin:5px;
	color: white;
	background-color: #007BAD;
	border: none;		
	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	cursor: pointer;
}

.floatleft{
	float: left;
}

a{
	float: left;
	padding: 5px;
	cursor: pointer;
}

img{
	width:100px;
	height:100px;
	float:left;
	padding:5px 20px 5px 5px;
	border-radius: 20px;
}

img.small_img{

	width:40px;
	height:40px;
	
}

.description{

	width:50%;
	height:50px;
	float:left;
	padding:5px;
	text-align: left;
}

.pizza_name{
	color:#ce0000;
	font-size:24px;
}

.small_icons{
	width:20px;
	height:20px;
	padding: 50px 20px 10px 20px;
	display: inline-block;
	cursor: pointer;
}

input[type=number]{
	-moz-appearance: textfield;
	width:30px;
	height:30px;
	display: inline-block;
	margin: 40px 0px 0px 0px;
	padding: 0px;
	text-align:center;
	float: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.cost{

	width:80px;
	height:50px;
	float:left;
	padding:5px;
	margin: 45px 0px 0px 10px;
	text-align: left;
}

.cart_cost{

	width:80px;
	height:50px;
	float:left;
	padding:5px;
	margin: 10px 0px 0px 10px;
	text-align: left;
}

.cart_small_icons{
	width:20px;
	height:20px;
	padding: 15px 20px 10px 20px;
	display: inline-block;
	cursor: pointer;
}

input[type=number].cart{
	-moz-appearance: textfield;
	width:30px;
	height:30px;
	display: inline-block;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	text-align:center;
	float: left;
}