<!doctype html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/main.css') }}">
<script type = "text/javascript" src = "{{ url_for('static', filename = '/JS/jquery.min.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = '/JS/main.js') }}" ></script>
   
</head>
<html>
   <body>
	<div class='top_bar'>
      		<h1 >Welcome To Pizza Ordering portal</h1>
	</div>
	<div class='menu_bar'>
		<ul class='horizontal'>
			<li style='cursor: text;'>Welcome :<span class='name' id='user_name'> Guest</span></li>
			<li id='orders' class='hide'><div >Orders</div></li>
			<li id='cart'><div>Cart</div></li>
			<li id='menu' class='active'><div>Menu</div></li>
			<li id='login'><div>Login</div></li>
		</ul>
	</div>
	<div class='maindiv'>
		<div class='subdiv hide' id='login_div'>
			<table>
				<tr><th colspan='2'>Login Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" required id='login_email'></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='login_pwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='login_but' value="Login"></td>
				</tr>
				<tr>
					<td></td>
					<td ><a id='forgot_password'>Forgot Password ? </a></td>
				</tr>
				<tr>
					<td ></td>
					<td><a id='new_user'>New User ?</a></td>
				</tr>
			</table>
		</div>

		<div class='subdiv hide' id='forgotpwd_div'>
			<table>
				<tr><th colspan='2'>Forgot Password Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" id='forgotpwd_email' required></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='forgotpwd_pwd' required></td>
				</tr>
				<tr>
					<td><label for="repsw"><b>Reenter Password : </b></label></td>
					<td><input type="password" placeholder="ReEnter Password" name="repsw" id='forgotpwd_repwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button"  value="Update Password" id='update_pwd'></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv hide' id='newuser_div'>
			<table>
				<tr><th colspan='2'>Registration Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" id='newuser_email' required></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='newuser_pwd' required></td>
				</tr>
				<tr>
					<td><label for="repsw"><b>Reenter Password : </b></label></td>
					<td><input type="password" placeholder="ReEnter Password" name="repsw" id='newuser_repwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='register'  value="Register"></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv' id='menu_div'>
			<table>
				<tr><th colspan='2'>Menu</th></tr>
				<tr>
					<td></td>
					<td><input type="button" id='menutocart' value="Cart"></td>
				</tr>
			</table>
		</div>

		<div class='subdiv hide' id='cart_div'>
			<table>
				<tr><th colspan='2'>cart</th></tr>
				<tr>
					<td><input type="button" id='carttomenu' style='float:right' value="Menu"></td>
					<td><input type="button" id='carttoorder' value="Next"></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv hide' id='orders_div'>
			<table>
				<tr><th colspan='2'>orders</th></tr>				
			</table>
		</div>

		<div class='subdiv hide' id='order_form_div'>
			<table>
				<tr>
					<td><label for="fname"><b>Full Name : </b></label></td>
					<td><input type="text" placeholder="Enter First Name and Last Name" name="fname" id='order_name' required></td>
				</tr>
				<tr>
					<td><label for="phno"><b>Phone Number : </b></label></td>
					<td><input type="text" placeholder="Enter Phone Number" name="phno" id='order_phoneno' required></td>
				</tr>
				<tr>
					<td><label ><b>Address : </b></label></td>
					<td><textarea name="address" placeholder="Enter street Name - House Number, City, State, Country, Pincode" required id='order_address'></textarea></td>
				</tr>
				<tr>
					<td><label ><b>Description : </b></label></td>
					<td><textarea name="description" disabled style='height:100px;' id='order_description' required></textarea></td>
				</tr>
				<tr>
					<td><label ><b>Sub Total : </b></label></td>
					<td><div><p>$24 / €24</p></div></td>
				</tr>
				<tr>
					<td><label ><b>Delivary Charges: </b></label></td>
					<td><div><p>$4 / €4</p></div></td>
				</tr>
				<tr>
					<td><label ><b>Total : </b></label></td>
					<td><div><p>$28 / €28</p></div></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='confirm_order' value="Confirm Order"></td>
				</tr>
				
			</table>
		</div>
		<div class='subdiv hide' id='confirm_order_div'>
			<table>
				<tr><th colspan='2'>Thank you for your order, please pay cash on delivary</th></tr>				
			</table>
		</div>
	</div>

   </body>
</html>