<!doctype html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/main.css') }}">
<script type = "text/javascript" src = "{{ url_for('static', filename = '/JS/jquery.min.js') }}" ></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = '/JS/main.js') }}" ></script>
   
</head>
<html>
   <body>
	<div class='top_bar'>
      		<h1 >Welcome To Pizza Ordering portal</h1>
	</div>
	<div class='menu_bar'>
		<ul class='horizontal'>
			<li style='cursor: text;'>Welcome :<span class='name' id='user_name'> Guest</span></li>
			<li id='orders' onclick="onordersclick()" class='hide'><div >Orders</div></li>
			<li id='cart' onclick="oncartclick()" ><div id='cart_number'>Cart</div></li>
			<li id='menu' onclick="onmenuclick()" class='active'><div>Menu</div></li>
			<li id='login' onclick="onloginclick()"><div>Login</div></li>
		</ul>
	</div>
	<div class='maindiv'>
		<div class='subdiv hide' id='login_div'>
			<table>
				<tr><th colspan='2'>Login Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" required id='login_email' onchange='onloginemailchange()'></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='login_pwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='login_but' onclick='onloginbutclick()' value="Login"></td>
				</tr>
				<tr>
					<td></td>
					<td ><a id='forgot_password' onclick='onforgotpwdclick()'>Forgot Password ? </a></td>
				</tr>
				<tr>
					<td ></td>
					<td><a id='new_user' onclick='onnewuserclick()'>New User ?</a></td>
				</tr>
			</table>
		</div>

		<div class='subdiv hide' id='forgotpwd_div'>
			<table>
				<tr><th colspan='2'>Forgot Password Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" id='forgotpwd_email' required></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='forgotpwd_pwd' required></td>
				</tr>
				<tr>
					<td><label for="repsw"><b>Reenter Password : </b></label></td>
					<td><input type="password" placeholder="ReEnter Password" name="repsw" id='forgotpwd_repwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button"  value="Update Password" id='update_pwd' onclick='onupdatepwdclick()'></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv hide' id='newuser_div'>
			<table>
				<tr><th colspan='2'>Registration Form</th></tr>
				<tr>
					<td><label for="email"><b>Email : </b></label></td>
					<td><input type="text" placeholder="Enter Email" name="email" id='newuser_email' required></td>
				</tr>
				<tr>
					<td><label for="psw"><b>Password : </b></label></td>
					<td><input type="password" placeholder="Enter Password" name="psw" id='newuser_pwd' required></td>
				</tr>
				<tr>
					<td><label for="repsw"><b>Reenter Password : </b></label></td>
					<td><input type="password" placeholder="ReEnter Password" name="repsw" id='newuser_repwd' required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='register'  value="Register" onclick='onregisterclick()'></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv' id='menu_div'>
			<table>
				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/1.jpg') }}" id='1_img' >
					
						<div class='description' ><span class='pizza_name' id='1_name'>spicy pepperoni pizza</span><br><br>spicy pepperoni pizza with cheese, mushrooms, ham, pepperoni, salami and red hot chilly peppers</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='1_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='1_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='1_minus' onclick="onminusclick(this)">
						<div class='cost' id='1_cost'>€10 / $12</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/2.jpg') }}" id='2_img' >
					
						<div class='description' ><span class='pizza_name' id='2_name'>pizza with ham</span><br><br>pizza with ham, olives and vegetables</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='2_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='2_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='2_minus' onclick="onminusclick(this)">
						<div class='cost' id='2_cost'>€9 / $11</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/3.jpg') }}" id='3_img' >
					
						<div class='description' ><span class='pizza_name' id='3_name'>delicious fresh chicken pizza </span><br><br>delicious fresh pizza chicken, ham, tomato</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='3_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='3_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='3_minus' onclick="onminusclick(this)">
						<div class='cost' id='3_cost'>€12 / $13</div>
					</td>
				</tr>

				
			
				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/5.jpg') }}" id='5_img' >
					
						<div class='description' ><span class='pizza_name' id='5_name'>pizza with mushrooms and cheese</span><br><br>pizza with ham, mushrooms, cheese and sweet pepper</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='5_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='5_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='5_minus' onclick="onminusclick(this)">
						<div class='cost' id='5_cost'>€11 / $12</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/6.jpg') }}" id='6_img' >
					
						<div class='description' ><span class='pizza_name' id='6_name'>pizza with salami</span><br><br>home pizza with salami and mozzarella</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='6_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='6_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='6_minus' onclick="onminusclick(this)">
						<div class='cost' id='6_cost'>€12 / $14</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/7.jpg') }}" id='7_img' >
					
						<div class='description' ><span class='pizza_name' id='7_name'>pizza with caviar</span><br><br>pizza with caviar</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='7_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='7_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='7_minus' onclick="onminusclick(this)">
						<div class='cost' id='7_cost'>€10 / $12</div>
					</td>
				</tr>
				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/8.jpg') }}" id='8_img' >
					
						<div class='description' ><span class='pizza_name' id='8_name'>tasty pizza with vegetables</span><br><br>tasty pizza with vegetables and basil</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='8_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='8_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='8_minus' onclick="onminusclick(this)">
						<div class='cost' id='8_cost'>€11 / $12</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/9.jpg') }}" id='9_img' >
					
						<div class='description' ><span class='pizza_name' id='9_name'>hot pizza slice with pepperoni</span><br><br>hot pizza slice with pepperoni cheese mozzarella and tomato</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='9_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='9_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='9_minus' onclick="onminusclick(this)">
						<div class='cost' id='9_cost'>€10 / $12</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/10.jpg') }}" id='10_img' >
					
						<div class='description' ><span class='pizza_name' id='10_name'>mozzarella italian pizza</span><br><br>pizza with mushrooms, broccoli, cherry tomatoes, red pepper, black olives and mozzarella italian pizza</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='10_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='10_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='10_minus' onclick="onminusclick(this)">
						<div class='cost' id='10_cost'>€12 / $14</div>
					</td>
				</tr>

				<tr>
					<td colspan='2'>
						<img  src = "{{ url_for('static', filename = '/Images/11.jpg') }}" id='11_img' >
					
						<div class='description' ><span class='pizza_name' id='11_name'>pepperoni pizza</span><br><br>pepperoni pizza with fresh arugula</div>
					
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='11_plus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 placeholder="0"  id='11_text' onchange="ontextclick(this)">
						<img class='small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='11_minus' onclick="onminusclick(this)">
						<div class='cost' id='11_cost'>€11 / $12</div>
					</td>
				</tr>
				

				<tr>
					<td></td>
					<td><input type="button" id='menutocart' onclick='oncartclick()' value="Cart"></td>
				</tr>
			</table>
		</div>

		<div class='subdiv hide' id='cart_div'>
			<table>
				
				<tr id='cart_1' class='hide'>
					<td colspan='2'>
						<img  class='small_img' src = "{{ url_for('static', filename = '/Images/1.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name'>spicy pepperoni pizza</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='1_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 class='cart' placeholder="0"  id='1_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='1_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='1_cartcost'>€10 / $12</div>
					</td>
				</tr>

				<tr id='cart_2' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/2.jpg') }}" >
					
						<div class='description' ><span class='pizza_name'>pizza with ham</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='2_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 class='cart' placeholder="0"  id='2_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='2_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='2_cartcost'>€9 / $11</div>
					</td>
				</tr>

				<tr id='cart_3' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/3.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name' >delicious fresh chicken pizza </span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='3_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" value=0 class='cart' placeholder="0"  id='3_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='3_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='3_cartcost'>€12 / $13</div>
					</td>
				</tr>

				
			
				<tr id='cart_5' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/5.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name' >pizza with mushrooms and cheese</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='5_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart' value=0 placeholder="0"  id='5_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='5_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='5_cartcost'>€11 / $12</div>
					</td>
				</tr>

				<tr id='cart_6' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/6.jpg') }}" >
					
						<div class='description' ><span class='pizza_name' >pizza with salami</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='6_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart' value=0 placeholder="0"  id='6_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='6_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='6_cartcost'>€12 / $14</div>
					</td>
				</tr>

				<tr id='cart_7' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/7.jpg') }}" >
					
						<div class='description' ><span class='pizza_name' >pizza with caviar</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='7_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart' value=0 placeholder="0"  id='7_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='7_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='7_cartcost'>€10 / $12</div>
					</td>
				</tr>
				<tr id='cart_8' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/8.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name'>tasty pizza with vegetables</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='8_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart'  value=0 placeholder="0"  id='8_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='8_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='8_cartcost'>€11 / $12</div>
					</td>
				</tr>

				<tr id='cart_9' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/9.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name' >hot pizza slice with pepperoni</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='9_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart' value=0 placeholder="0"  id='9_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='9_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='9_cartcost'>€10 / $12</div>
					</td>
				</tr>

				<tr id='cart_10' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/10.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name' >mozzarella italian pizza</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='10_cartplus' onclick="onplusclick(this)">
						<input type="number" min="0" class='cart' value=0 placeholder="0"  id='10_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='10_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='10_cartcost'>€12 / $14</div>
					</td>
				</tr>

				<tr id='cart_11' class='hide'>
					<td colspan='2'>
						<img class='small_img' src = "{{ url_for('static', filename = '/Images/11.jpg') }}"  >
					
						<div class='description' ><span class='pizza_name' >pepperoni pizza</span></div>
					
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/plus.png') }}" id='11_cartplus' onclick="onplusclick(this)">
						<input type="number" class='cart' min="0" value=0 placeholder="0"  id='11_carttext' onchange="ontextclick(this)">
						<img class='cart_small_icons' src = "{{ url_for('static', filename = '/Images/minus.png') }}" id='11_cartminus' onclick="onminusclick(this)">
						<div class='cart_cost' id='11_cartcost'>€11 / $12</div>
					</td>
				</tr>
				
				<tr>
					<td></td>
					<td><div id='cart_total'>Total: €0 / $0</div></td>
				</tr>
				

				<tr>
					<td><input type="button" id='carttomenu' onclick='onmenuclick()' style='float:right' value="Menu"></td>
					<td><input type="button" id='carttoorder' onclick='oncarttoorderclick()' value="Next"></td>
				</tr>
				
			</table>
		</div>

		<div class='subdiv hide' id='orders_div'>
			<table>
				<tr><th colspan='2'>Work Inprogress</th></tr>				
			</table>
		</div>

		<div class='subdiv hide' id='order_form_div'>
			<table>
				<tr>
					<td><label for="fname"><b>Full Name : </b></label></td>
					<td><input type="text" placeholder="Enter First Name and Last Name" name="fname" id='order_name' required></td>
				</tr>
				<tr>
					<td><label for="phno"><b>Phone Number : </b></label></td>
					<td><input type="text" placeholder="Enter Phone Number" name="phno" id='order_phoneno' required></td>
				</tr>
				<tr>
					<td><label ><b>Address : </b></label></td>
					<td><textarea name="address" placeholder="Enter street Name - House Number, City, State, Country, Pincode" required id='order_address'></textarea></td>
				</tr>
				<tr>
					<td><label ><b>Description : </b></label></td>
					<td><textarea name="description" disabled style='height:100px;' id='order_description' required></textarea></td>
				</tr>
				<tr>
					<td><label ><b>Sub Total : </b></label></td>
					<td><div><p id='order_sub_total'>$24 / €24</p></div></td>
				</tr>
				<tr>
					<td><label ><b>Delivary Charges: </b></label></td>
					<td><div><p id='order_dc'>$4 / €4</p></div></td>
				</tr>
				<tr>
					<td><label ><b>Total : </b></label></td>
					<td><div><p id='order_total'>$28 / €28</p></div></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" id='confirm_order' onclick='onconfirmorderclick()' value="Confirm Order"></td>
				</tr>
				
			</table>
		</div>
		<div class='subdiv hide' id='confirm_order_div'>
			<table>
				<tr><th colspan='2'>Thank you for your order, please pay cash on delivary</th></tr>				
			</table>
		</div>
	</div>

   </body>
</html>